image: docker:stable
services:
  - docker:dind

stages:
  - build
  - prepare-storage
  - deploy

variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_DRIVER: overlay2

  DB_NAME: 'dnsdb'
  DB_USER: 'dnsuser'
  DB_PASSWORD: 'dnsuser'
  SITE_HOSTNAME: 'dns.cmim.ru'
  ENVIRONMENT: 'Production'

  HYPERLOCAL_IMAGE: $CI_REGISTRY_IMAGE/hyperlocal:latest
  ANALYZER_IMAGE: $CI_REGISTRY_IMAGE/analyzer:latest
  RESOLVER_BLACKLIST_IMAGE: $CI_REGISTRY_IMAGE/resolver-blacklist:latest
  RESOLVER_WHITELIST_IMAGE: $CI_REGISTRY_IMAGE/resolver-whitelist:latest
  SITE_IMAGE: $CI_REGISTRY_IMAGE/site:latest

  DB_DEV_NAME: 'dnsdb_dev'
  DB_DEV_USER: 'dnsuser'
  DB_DEV_PASSWORD: 'dnsuser'
  SITE_DEV_HOSTNAME: 'dev.dns.cmim.ru'

  HYPERLOCAL_DEV_IMAGE: $CI_REGISTRY_IMAGE/hyperlocal-dev:latest
  ANALYZER_DEV_IMAGE: $CI_REGISTRY_IMAGE/analyzer-dev:latest
  RESOLVER_DEV_BLACKLIST_IMAGE: $CI_REGISTRY_IMAGE/resolver-blacklist-dev:latest
  RESOLVER_DEV_WHITELIST_IMAGE: $CI_REGISTRY_IMAGE/resolver-whitelist-dev:latest
  SITE_DEV_IMAGE: $CI_REGISTRY_IMAGE/site-dev:latest

before_script:
  - docker login -u $REGISTRY_USER -p $REGISTRY_USER_PASS $CI_REGISTRY

build-hyperlocal-prod:
  stage: build
  script:
    - docker build --pull -t $HYPERLOCAL_IMAGE -f Hyperlocal/Dockerfile .
    - docker tag $HYPERLOCAL_IMAGE $HYPERLOCAL_IMAGE
    - docker push $HYPERLOCAL_IMAGE
  only:
    refs:
      - master
    changes:
      - Hyperlocal/**/*
  tags:
  - build


build-analyzer-prod:
  stage: build
  script:
    - docker build --pull -t $ANALYZER_IMAGE -f Dns.Resolver.Analyzer/Dockerfile .
    - docker push $ANALYZER_IMAGE
  only:
    refs:
      - master
    changes:
      - Dns.Resolver.Analyzer/**/*
      - Dns.Contracts/**/*
      - Dns.DAL/**/*
  tags:
  - build

build-resolver-blacklist-prod:
  stage: build
  script:
    - docker build --pull -t $RESOLVER_BLACKLIST_IMAGE -f Dns.Resolver.Blacklist/Dockerfile .
    - docker push $RESOLVER_BLACKLIST_IMAGE
  only:
    refs:
      - master
    changes:
      - Dns.Contracts/**/*
      - Dns.Resolver.Blacklist/**/*
  tags:
  - build

build-resolver-whitelist-prod:
  stage: build
  script:
    - docker build --pull -t $RESOLVER_WHITELIST_IMAGE -f Dns.Resolver.Whitelist/Dockerfile .
    - docker push $RESOLVER_WHITELIST_IMAGE
  only:
    refs:
      - master
    changes:
      - Dns.Contracts/**/*
      - Dns.Resolver.Whitelist/**/*
      - Dns.DAL/**/*
  tags:
  - build

build-site-prod:
  stage: build
  script:
    - docker build --pull -t $SITE_IMAGE -f Dns.Site/Dockerfile .
    - docker push $SITE_IMAGE
  only:
    refs:
      - master
    changes:
      - Dns.Site/**/*
      - Dns.Contracts/**/*
      - Dns.DAL/**/*
  tags:
  - build

prepare-storage-prod:
  stage: prepare-storage
  script:
    - 'which ss-agent || (apk update && apk add openssh)'
    - 'which rsync || (apk update && apk add rsync)'
    - 'which sed || (apk update && apk add sed)'
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - mkdir -p $CI_PROJECT_NAME
    - cp docker-compose.yml $CI_PROJECT_NAME
    - echo sed -i ''\''s/DB_NAME/'"$DB_NAME"/g\' init-db.sql >> sed.sh
    - echo sed -i ''\''s/DB_USER/'"$DB_USER"/g\' init-db.sql >> sed.sh
    - echo sed -i ''\''s/DB_PASS/'"$DB_PASSWORD"/g\' init-db.sql >> sed.sh
    - cat sed.sh
    - chmod +x sed.sh
    - sh sed.sh
    - cp init-db.sql $CI_PROJECT_NAME
    - rsync -r $CI_PROJECT_NAME $SWARM_RUNNER_USER@$SWARM_MANAGER:/home/$SWARM_RUNNER_USER
    - ssh -tt $SWARM_RUNNER_USER@$SWARM_MANAGER "export DB_NAME=$DB_NAME &&
        export DB_USER=$DB_USER &&
        export DB_PASSWORD=$DB_PASSWORD &&
        docker run --rm --network postgre_pg-net --env PGPASSWORD=P@ssw0rd -v /home/$SWARM_RUNNER_USER/$CI_PROJECT_NAME/:/etc/db/ postgres psql -h primary -U postgres maindb -f /etc/db/init-db.sql -v dbName=$DB_NAME -v dbUser=$DB_USER -v dbPass=$DB_PASSWORD
        && exit"
  only:
    refs:
      - master
    changes:
      - init-db.sql
  tags:
  - deploy

deploy-prod:
  stage: deploy
  script:
    - 'which ss-agent || (apk update && apk add openssh)'
    - 'which rsync || (apk update && apk add rsync)'
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - mkdir -p $CI_PROJECT_NAME
    - cp docker-compose.yml $CI_PROJECT_NAME
    - cp prod.env $CI_PROJECT_NAME/.env
    - rsync -r $CI_PROJECT_NAME $SWARM_RUNNER_USER@$SWARM_MANAGER:/home/$SWARM_RUNNER_USER
    - ssh -tt $SWARM_RUNNER_USER@$SWARM_MANAGER "export SWARM_MANAGER=$SWARM_MANAGER &&
        export DB_NAME=$DB_NAME &&
        export DB_USER=$DB_USER &&
        export DB_PASSWORD=$DB_PASSWORD &&
        export HYPERLOCAL_IMAGE=$HYPERLOCAL_IMAGE &&
        export ANALYZER_IMAGE=$ANALYZER_RELEASE_IMAGE &&
        export RESOLVER_BLACKLIST_IMAGE=$RESOLVER_BLACKLIST_IMAGE &&
        export RESOLVER_WHITELIST_IMAGE=$RESOLVER_WHITELIST_IMAGE &&
        export SITE_IMAGE=$SITE_IMAGE &&
        export REDIS_CONNECTION=$REDIS_CONNECTION &&
        export AUTH_SERVER_URL=$AUTH_SERVER_URL &&
        export AUTH_COOKIE_BASE_DOMAIN=$AUTH_COOKIE_BASE_DOMAIN &&
        export ENVIRONMENT=$ENVIRONMENT &&
        export SITE_HOSTNAME=$SITE_HOSTNAME &&
        docker login -u $REGISTRY_USER -p $REGISTRY_USER_PASS $CI_REGISTRY &&
        docker stack deploy -c $CI_PROJECT_NAME/docker-compose.yml $CI_PROJECT_NAME-$CI_COMMIT_REF_SLUG --prune --with-registry-auth && exit"
  only:
    - master
  tags:
  - deploy
 


build-hyperlocal-dev:
  stage: build
  script:
    - docker build --pull -t $HYPERLOCAL_DEV_IMAGE -f Hyperlocal/Dockerfile .
    - docker tag $HYPERLOCAL_DEV_IMAGE $HYPERLOCAL_DEV_IMAGE
    - docker push $HYPERLOCAL_DEV_IMAGE
  only:
    refs:
      - dev/main
    changes:
      - Hyperlocal/**/*
  tags:
  - build


build-analyzer-dev:
  stage: build
  script:
    - docker build --pull -t $ANALYZER_DEV_IMAGE -f Dns.Resolver.Analyzer/Dockerfile .
    - docker push $ANALYZER_DEV_IMAGE
  only:
    refs:
      - dev/main
    changes:
      - Dns.Resolver.Analyzer/**/*
      - Dns.Contracts/**/*
      - Dns.DAL/**/*
  tags:
  - build

build-resolver-blacklist-dev:
  stage: build
  script:
    - docker build --pull -t $RESOLVER_DEV_BLACKLIST_IMAGE -f Dns.Resolver.Blacklist/Dockerfile .
    - docker push $RESOLVER_DEV_BLACKLIST_IMAGE
  only:
    refs:
      - dev/main
    changes:
      - Dns.Contracts/**/*
      - Dns.Resolver.Blacklist/**/*
  tags:
  - build

build-resolver-whitelist-dev:
  stage: build
  script:
    - docker build --pull -t $RESOLVER_DEV_WHITELIST_IMAGE -f Dns.Resolver.Whitelist/Dockerfile .
    - docker push $RESOLVER_DEV_WHITELIST_IMAGE
  only:
    refs:
      - dev/main
    changes:
      - Dns.Contracts/**/*
      - Dns.Resolver.Whitelist/**/*
      - Dns.DAL/**/*
  tags:
  - build

build-site-dev:
  stage: build
  script:
    - docker build --pull -t $SITE_DEV_IMAGE -f Dns.Site/Dockerfile .
    - docker push $SITE_DEV_IMAGE
  only:
    refs:
      - dev/main
    changes:
      - Dns.Site/**/*
      - Dns.Contracts/**/*
      - Dns.DAL/**/*
  tags:
  - build

prepare-storage-dev:
  stage: prepare-storage
  script:
    - 'which ss-agent || (apk update && apk add openssh)'
    - 'which rsync || (apk update && apk add rsync)'
    - 'which sed || (apk update && apk add sed)'
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - mkdir -p $CI_PROJECT_NAME
    - cp docker-compose.yml $CI_PROJECT_NAME
    - echo sed -i ''\''s/DB_NAME/'"$DB_DEV_NAME"/g\' init-db.sql >> sed.sh
    - echo sed -i ''\''s/DB_USER/'"$DB_DEV_USER"/g\' init-db.sql >> sed.sh
    - echo sed -i ''\''s/DB_PASS/'"$DB_DEV_PASSWORD"/g\' init-db.sql >> sed.sh
    - cat sed.sh
    - chmod +x sed.sh
    - sh sed.sh
    - cp init-db.sql $CI_PROJECT_NAME
    - rsync -r $CI_PROJECT_NAME $SWARM_RUNNER_USER@$SWARM_MANAGER:/home/$SWARM_RUNNER_USER
    - ssh -tt $SWARM_RUNNER_USER@$SWARM_MANAGER "export DB_NAME=$DB_DEV_NAME &&
        export DB_USER=$DB_DEV_USER && export DB_PASSWORD=$DB_DEV_PASSWORD &&
        docker run --rm --network postgre_pg-net --env PGPASSWORD=P@ssw0rd -v /home/$SWARM_RUNNER_USER/$CI_PROJECT_NAME/:/etc/db/ postgres psql -h primary -U postgres maindb -f /etc/db/init-db.sql -v dbName=$DB_NAME -v dbUser=$DB_USER -v dbPass=$DB_PASSWORD
        && exit"
  only:
    refs:
      - dev/main
    changes:
      - init-db.sql
  tags:
  - deploy

deploy-dev:
  stage: deploy
  script:
    - 'which ss-agent || (apk update && apk add openssh)'
    - 'which rsync || (apk update && apk add rsync)'
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - mkdir -p $CI_PROJECT_NAME
    - cp docker-compose.yml $CI_PROJECT_NAME
    - cp dev.env $CI_PROJECT_NAME/.env
    - rsync -r $CI_PROJECT_NAME $SWARM_RUNNER_USER@$SWARM_MANAGER:/home/$SWARM_RUNNER_USER
    - ssh -tt $SWARM_RUNNER_USER@$SWARM_MANAGER "export SWARM_MANAGER=$SWARM_MANAGER &&
        export DB_NAME=$DB_DEV_NAME &&
        export DB_USER=$DB_DEV_USER &&
        export DB_PASSWORD=$DB_DEV_PASSWORD &&
        export HYPERLOCAL_IMAGE=$HYPERLOCAL_DEV_IMAGE &&
        export ANALYZER_IMAGE=$ANALYZER_DEV_IMAGE &&
        export RESOLVER_BLACKLIST_IMAGE=$RESOLVER_DEV_BLACKLIST_IMAGE &&
        export RESOLVER_WHITELIST_IMAGE=$RESOLVER_DEV_WHITELIST_IMAGE &&
        export SITE_IMAGE=$SITE_DEV_IMAGE &&
        export REDIS_CONNECTION=$REDIS_CONNECTION &&
        export AUTH_SERVER_URL=$AUTH_SERVER_URL &&
        export AUTH_COOKIE_BASE_DOMAIN=$AUTH_COOKIE_BASE_DOMAIN &&
        export SITE_HOSTNAME=$SITE_DEV_HOSTNAME &&
        docker login -u $REGISTRY_USER -p $REGISTRY_USER_PASS $CI_REGISTRY &&
        docker stack deploy -c $CI_PROJECT_NAME/docker-compose.yml $CI_PROJECT_NAME-$CI_COMMIT_REF_SLUG --prune --with-registry-auth && exit"
  only:
    - dev/main
  tags:
  - deploy