image: docker:stable
services:
  - docker:dind

stages:
  - build
  - prepare-storage
  - deploy

variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_DRIVER: overlay2

  HYPERLOCAL_IMAGE: $CI_REGISTRY_IMAGE/hyperlocal:latest
  ANALYZER_IMAGE: $CI_REGISTRY_IMAGE/analyzer:latest
  RESOLVER_AGGREGATOR_IMAGE: $CI_REGISTRY_IMAGE/resolver-aggregator:latest
  RESOLVER_CONSUMER_IMAGE: $CI_REGISTRY_IMAGE/resolver-consumer:latest
  RESOLVER_PRODUCER_IMAGE: $CI_REGISTRY_IMAGE/resolver-producer:latest 
  SITE_IMAGE: $CI_REGISTRY_IMAGE/site:latest

before_script:
  - docker login -u $REGISTRY_USER -p $REGISTRY_USER_PASS $CI_REGISTRY

build-hyperlocal:
  stage: build
  script:
    - chmod +x Hyperlocal/start.sh
    - docker build --pull -t $HYPERLOCAL_IMAGE -f Hyperlocal/Dockerfile .
    - docker tag $HYPERLOCAL_IMAGE $HYPERLOCAL_IMAGE
    - docker push $HYPERLOCAL_IMAGE
  only:
    refs:
      - master
    changes:
      - Hyperlocal/*
  tags:
  - build


build-analyzer:
  stage: build
  script:
    - docker build --pull -t $ANALYZER_IMAGE -f Dns.Analyzer/Dockerfile .
    - docker push $ANALYZER_IMAGE
  only:
    refs:
      - master
    changes:
      - Dns.Analyzer/**/*
      - Dns.Contracts/**/*
      - Dns.DAL/**/*
  tags:
  - build

build-resolver-aggregator:
  stage: build
  script:
    - docker build --pull -t $RESOLVER_AGGREGATOR_IMAGE -f Dns.Resolver.Aggregator/Dockerfile .
    - docker push $RESOLVER_AGGREGATOR_IMAGE
  only:
    refs:
      - master
    changes:
      - Dns.Contracts/**/*
      - Dns.Resolver.Aggregator/**/*
  tags:
  - build

build-resolver-consumer:
  stage: build
  script:
    - docker build --pull -t $RESOLVER_CONSUMER_IMAGE -f Dns.Resolver.Consumer/Dockerfile .
    - docker push $RESOLVER_CONSUMER_IMAGE
  only:
    refs:
      - master
    changes:
      - Dns.Contracts/**/*
      - Dns.Resolver.Consumer/**/*
  tags:
  - build

build-resolver-producer:
  stage: build
  script:
    - docker build --pull -t $RESOLVER_PRODUCER_IMAGE -f Dns.Resolver.Producer/Dockerfile .
    - docker push $RESOLVER_PRODUCER_IMAGE
  only:
    refs:
      - master
    changes:
      - Dns.Contracts/**/*
      - Dns.DAL/**/*
      - Dns.Resolver.Producer/**/*
  tags:
  - build

build-site:
  stage: build
  script:
    - docker build --pull -t $SITE_IMAGE -f Dns.Site/Dockerfile .
    - docker push $SITE_IMAGE
  only:
    refs:
      - master
    changes:
      - Dns.Site/**/*
      - Dns.Contracts/**/*
      - Dns.DAL/**/*
  tags:
  - build

prepare-storage:
  stage: prepare-storage
  script:
    - 'which ss-agent || (apk update && apk add openssh)'
    - 'which rsync || (apk update && apk add rsync)'
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - mkdir -p $CI_PROJECT_NAME
    - cp docker-compose.yml $CI_PROJECT_NAME
    - cp init-db.sql $CI_PROJECT_NAME
    - rsync -r $CI_PROJECT_NAME $SWARM_RUNNER_USER@$SWARM_MANAGER:/home/$SWARM_RUNNER_USER
    - ssh -tt $SWARM_RUNNER_USER@$SWARM_MANAGER "docker run --rm --network postgre_pg-net --env PGPASSWORD=P@ssw0rd -v /home/$SWARM_RUNNER_USER/$CI_PROJECT_NAME/:/etc/db/ postgres psql -h primary -U postgres maindb -f /etc/db/init-db.sql
        && exit"
  only:
    refs:
      - master
    changes:
      - init-db.sql
  tags:
  - deploy

deploy:
  stage: deploy
  script:
    - 'which ss-agent || (apk update && apk add openssh)'
    - 'which rsync || (apk update && apk add rsync)'
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - mkdir -p $CI_PROJECT_NAME
    - cp docker-compose.yml $CI_PROJECT_NAME
    - cp init-db.sql $CI_PROJECT_NAME
    - rsync -r $CI_PROJECT_NAME $SWARM_RUNNER_USER@$SWARM_MANAGER:/home/$SWARM_RUNNER_USER
    - ssh -tt $SWARM_RUNNER_USER@$SWARM_MANAGER "export SWARM_MANAGER=$SWARM_MANAGER &&
        export HYPERLOCAL_IMAGE=$HYPERLOCAL_IMAGE &&
        export ANALYZER_IMAGE=$ANALYZER_RELEASE_IMAGE &&
        export RESOLVER_AGGREGATOR_IMAGE=$RESOLVER_AGGREGATOR_IMAGE &&
        export RESOLVER_CONSUMER_IMAGE=$RESOLVER_CONSUMER_IMAGE &&
        export RESOLVER_PRODUCER_IMAGE=$RESOLVER_PRODUCER_IMAGE &&
        export SITE_IMAGE=$SITE_IMAGE &&
        export REDIS_CONNECTION=$REDIS_CONNECTION &&
        export AUTH_SERVER_URL=$AUTH_SERVER_URL &&
        export AUTH_COOKIE_BASE_DOMAIN=$AUTH_COOKIE_BASE_DOMAIN &&
        docker login -u $REGISTRY_USER -p $REGISTRY_USER_PASS $CI_REGISTRY &&
        docker stack deploy -c $CI_PROJECT_NAME/docker-compose.yml $CI_PROJECT_NAME --prune --with-registry-auth && exit"
  only:
    - master
  tags:
  - deploy