version: '3.7'

x-shared-variables: &shared-variables
  PG_CONNECTION_STRING_WRITE: 'Server=${SWARM_MANAGER:-127.0.0.1};Port=5432;Database=dnsdb;User Id=dnsuser;Password=dnsuser;'
  PG_CONNECTION_STRING_READ: 'Server=${SWARM_MANAGER:-127.0.0.1};Port=5433;Database=dnsdb;User Id=dnsuser;Password=dnsuser;'
  REDIS_CONNECTION: '${REDIS_CONNECTION:-redis-master,redis-slave-1,redis-slave-2}'
  ASPNETCORE_ENVIRONMENT: 'Production'

services:
  hyperlocal:
    image: ${HYPERLOCAL_IMAGE:-registry.cmim.ru/grfc/dns-analyzer/hyperlocal}
    ports:
      - "53:53"
      - "53:53/udp"
    networks:
      - default
    deploy:
      replicas: 4

  resolver:
    image: ${RESOLVER_IMAGE:-registry.cmim.ru/grfc/dns-analyzer/resolver}
    networks:
      - postgre_pg-net
      - redis-net
      - default
    environment: 
      <<: *shared-variables
      HYPERLOCAL_SERVER: 'hyperlocal'
    deploy:
      replicas: 1

networks:
  postgre_pg-net:
    external: true
  redis-net:
    external: true