version: '3.7'

x-shared-variables: &shared-variables
  PG_CONNECTION_STRING_WRITE: 'Server=${SWARM_MANAGER:-127.0.0.1};Port=5432;Database=${DB_NAME};User Id=${DB_USER};Password=${DB_PASSWORD};'
  PG_CONNECTION_STRING_READ: 'Server=${SWARM_MANAGER:-127.0.0.1};Port=5433;Database=${DB_NAME};User Id=${DB_USER};Password=${DB_PASSWORD};'
  REDIS_CONNECTION: '${REDIS_CONNECTION:-redis-master,redis-slave-1,redis-slave-2}'
  RABBITMQ_CONNECTION: 'host=rmq'
  ASPNETCORE_ENVIRONMENT: '${ENVIRONMENT:-Development}'
  NOTIFICATION_EMAIL_FROM: 'dns@cmim.ru'
  NOTIFY_SEND_CHANNEL: 'Notification_Send_Message'

x-redis-variables: &redis-variables
  REDIS_BLACK_DOMAINS: 'Vigruzki_Domains'
  REDIS_VIGRUZKI_IPS: 'Vigruzki_Ips'
  REDIS_VIGRUZKI_SUBNETS: 'Vigruzki_Subnets' 

services:
  hyperlocal:
    image: ${HYPERLOCAL_IMAGE:-registry.cmim.ru/grfc/dns-analyzer/hyperlocal}
    expose:
      - "53"
      - "53/udp"
    networks:
      - default
    deploy:
      replicas: 5

  analyzer:
    image: ${ANALYZER_IMAGE:-registry.cmim.ru/grfc/dns-analyzer/analyzer}
    environment:
      <<: *shared-variables
      <<: *redis-variables
      ANALYZER_SUSPECT_IP_COUNT: 10
    env_file:
      - .env
    networks:
      - default
      - postgre_pg-net
      - redis-net
      - rabbitmq_rabbitmq-net
    deploy:
      replicas: 1

  resolver-aggregator:
    image: ${RESOLVER_AGGREGATOR_IMAGE:-registry.cmim.ru/grfc/dns-analyzer/resolver-aggregator}
    environment:
      <<: *shared-variables
      <<: *redis-variables
    env_file:
      - .env
    networks:
      - default
      - redis-net
      - rabbitmq_rabbitmq-net
    deploy:
      replicas: 1

  resolver-consumer:
    image: ${RESOLVER_CONSUMER_IMAGE:-registry.cmim.ru/grfc/dns-analyzer/resolver-consumer}
    environment:
      <<: *shared-variables
      HYPERLOCAL_SERVER: 'hyperlocal'
    env_file:
      - .env
    networks:
      - default
      - rabbitmq_rabbitmq-net
    deploy:
      replicas: 20

  resolver-producer:
    image: ${RESOLVER_PRODUCER_IMAGE:-registry.cmim.ru/grfc/dns-analyzer/resolver-producer}
    environment: 
      <<: *shared-variables
      <<: *redis-variables
      RESOLVER_PUBLISHER_DELAY_SEC: '60'
      RABBITMQ_PRODUCER_LIMIT: '500'
      RABBITMQ_PRODUCER_LIMIT_TIMEOUT: '50'
    env_file:
      - .env
    networks:
      - default
      - postgre_pg-net
      - redis-net
      - rabbitmq_rabbitmq-net
    deploy:
      replicas: 1

  site:
    image: ${SITE_IMAGE:-registry.cmim.ru/grfc/dns-analyzer/site}
    expose:
      - "80"
    networks:
      - postgre_pg-net
      - redis-net
      - default
      - notification_default
      - vigruzki_default
      - traefik-net
      - rabbitmq_rabbitmq-net
    environment: 
      <<: *shared-variables
      <<: *redis-variables
      AUTH_SERVER_URL: '${AUTH_SERVER_URL}'
      AUTH_COOKIE_BASE_DOMAIN: '${AUTH_COOKIE_BASE_DOMAIN}'
      NOTIFY_SERVICE_URL: 'http://notification_api:80/'
      VIGRUZKI_SERVICE_URL: 'http://vigruzki_api:80/'
    env_file:
      - .env
    deploy:
      replicas: 1
      labels:
        traefik.frontend.rule: "Host:${SITE_HOSTNAME:-dns.cmim.ru}"
        traefik.enable: "true"
        traefik.port: "80"
        traefik.docker.network: "traefik-net"

networks:
  postgre_pg-net:
    external: true
  redis-net:
    external: true
  notification_default:
    external: true
  vigruzki_default:
    external: true
  traefik-net:
    external: true
  rabbitmq_rabbitmq-net:
    external: true