version: '3.7'

x-shared-variables: &shared-variables
  PG_CONNECTION_STRING_WRITE: 'Server=${SWARM_MANAGER:-127.0.0.1};Port=5432;Database=dnsdb;User Id=dnsuser;Password=dnsuser;'
  PG_CONNECTION_STRING_READ: 'Server=${SWARM_MANAGER:-127.0.0.1};Port=5433;Database=dnsdb;User Id=dnsuser;Password=dnsuser;'
  REDIS_CONNECTION: '${REDIS_CONNECTION:-redis-master,redis-slave-1,redis-slave-2}'
  ASPNETCORE_ENVIRONMENT: 'Production'
  NOTIFICATION_EMAIL_FROM: 'dns@cmim.ru'

services:
  hyperlocal:
    image: ${HYPERLOCAL_IMAGE:-registry.cmim.ru/grfc/dns-analyzer/hyperlocal}
    ports:
      - "53:53"
      - "53:53/udp"
    networks:
      - default
    deploy:
      replicas: 4

  resolver:
    image: ${RESOLVER_IMAGE:-registry.cmim.ru/grfc/dns-analyzer/resolver}
    networks:
      - postgre_pg-net
      - redis-net
      - default
    environment: 
      <<: *shared-variables
      HYPERLOCAL_SERVER: 'hyperlocal'
      RESOLVER_MAX_DEGREE_OF_PARALLELISM: 500
      RESOLVER_BUFFER_BLOCK_SIZE: 250
    deploy:
      replicas: 1

  analyzer:
    image: ${ANALYZER_IMAGE:-registry.cmim.ru/grfc/dns-analyzer/analyzer}
    networks:
      - postgre_pg-net
      - redis-net
      - default
    environment: 
      <<: *shared-variables
      ANALYZER_SUSPECT_IP_COUNT: 10
    deploy:
      replicas: 1

  site:
    image: ${SITE_IMAGE:-registry.cmim.ru/grfc/dns-analyzer/site}
    ports:
      - 9004:80
    networks:
      - postgre_pg-net
      - redis-net
      - default
      - notification_default
      - vigruzki_default
      - traefik-net
    environment: 
      <<: *shared-variables
      AUTH_SERVER_URL: '${AUTH_SERVER_URL}'
      AUTH_COOKIE_BASE_DOMAIN: '${AUTH_COOKIE_BASE_DOMAIN}'
      NOTIFY_SERVICE_URL: 'http://notification_api:80/'
      VIGRUZKI_SERVICE_URL: 'http://vigruzki_api:80/'
    deploy:
      replicas: 1
      labels:
        traefik.frontend.rule: "Host:dns-test.cmim.ru"
        traefik.enable: "true"
        traefik.port: "80"
        traefik.docker.network: "traefik-net"

networks:
  postgre_pg-net:
    external: true
  redis-net:
    external: true
  notification_default:
    external: true
  vigruzki_default:
    external: true
  traefik-net:
    external: true