version: '3.7'

x-shared-variables: &shared-variables
  PG_CONNECTION_STRING_WRITE: 'Server=${SWARM_MANAGER:-127.0.0.1};Port=5432;Database=${DB_NAME};User Id=${DB_USER};Password=${DB_PASSWORD};'
  PG_CONNECTION_STRING_READ: 'Server=${SWARM_MANAGER:-127.0.0.1};Port=5433;Database=${DB_NAME};User Id=${DB_USER};Password=${DB_PASSWORD};'
  REDIS_CONNECTION: '${REDIS_CONNECTION:-redis-master,redis-slave}'
  RABBITMQ_CONNECTION: 'host=rmq;username=${RABBITMQ_USER};password=${RABBITMQ_PASS}'
  ASPNETCORE_ENVIRONMENT: '${ENVIRONMENT:-Development}'
  NOTIFICATION_EMAIL_FROM: 'dns@cmim.ru'
  NOTIFY_SEND_CHANNEL: 'Notification_Send_Message'
  SITE_HOSTNAME: 'dns.cmim.ru'
  HYPERLOCAL_SERVER: 'hyperlocal'

x-redis-variables: &redis-variables
  REDIS_BLACK_DOMAINS: 'Vigruzki_Domains'
  REDIS_VIGRUZKI_IPS: 'Vigruzki_Ips'
  REDIS_VIGRUZKI_SUBNETS: 'Vigruzki_Subnets'

services:
  hyperlocal:
    image: ${HYPERLOCAL_IMAGE:-registry.cmim.ru/grfc/dns-analyzer/hyperlocal}
    networks:
      - net
    deploy:
      mode: global

  analyzer:
    image: ${ANALYZER_IMAGE:-registry.cmim.ru/grfc/dns-analyzer/analyzer}
    environment:
      <<: *shared-variables
      <<: *redis-variables
      ANALYZE_CLOSE_INTERVAL: '86400'
      ANALYZE_EXPIRE_INTERVAL: '300'
      ANALYZE_FALSE_POSITIVE_INTERVAL: '3600'
    env_file:
      - .env
    networks:
      - net
      - postgre_pg-net
      - redis-net
      - rabbitmq_net
    deploy:
      placement:
        constraints:
        - node.role == worker
      replicas: 4

  resolver-blacklist:
    image: ${RESOLVER_BLACKLIST_IMAGE:-registry.cmim.ru/grfc/dns-analyzer/resolver-blacklist}
    environment:
      <<: *shared-variables
      <<: *redis-variables
      MAX_CONCURRENT_RESOLVE: '100'
      REFRESH_INTERVAL: '240'
    env_file:
      - .env
    networks:
      - net
      - redis-net
      - rabbitmq_net
    deploy:
      replicas: 10

  resolver-whitelist:
    image: ${RESOLVER_WHITELIST_IMAGE:-registry.cmim.ru/grfc/dns-analyzer/resolver-whitelist}
    environment:
      <<: *shared-variables
      <<: *redis-variables
      MAX_CONCURRENT_RESOLVE: '100'
      REFRESH_INTERVAL: '240'
    env_file:
      - .env
    networks:
      - net
      - postgre_pg-net
      - redis-net
      - rabbitmq_net
    deploy:
      replicas: 1

  site:
    image: ${SITE_IMAGE:-registry.cmim.ru/grfc/dns-analyzer/site}
    networks:
      - postgre_pg-net
      - redis-net
      - net
      - notification_default
      - vigruzki_default
      - traefik-net
      - rabbitmq_net
    environment: 
      <<: *shared-variables
      <<: *redis-variables
      AUTH_SERVER_URL: '${AUTH_SERVER_URL}'
      AUTH_COOKIE_BASE_DOMAIN: '${AUTH_COOKIE_BASE_DOMAIN}'
      NOTIFY_SERVICE_URL: 'http://notification_api:80/'
      VIGRUZKI_SERVICE_URL: 'http://vigruzki_api:80/'
      DISABLE_AUTH: '${DISABLE_AUTH}'
    env_file:
      - .env
    deploy:
      replicas: 1
      labels:
        traefik.frontend.rule: "Host:${SITE_HOSTNAME:-dns.cmim.ru}"
        traefik.enable: "true"
        traefik.port: "80"
        traefik.docker.network: "traefik-net"

networks:
  postgre_pg-net:
    external: true
  redis-net:
    external: true
  notification_default:
    external: true
  vigruzki_default:
    external: true
  traefik-net:
    external: true
  rabbitmq_net:
    external: true
  net:
    external: false
    driver: overlay
    attachable: true