﻿<tr>
	<td style="width:250px">
		<span style="font-size:16px"><span style="font-family:times new roman,times,serif"><span style="color:#1f497d"><strong>{{WHITE_DOMAIN}}</strong></span></span></span><br />
	</td>
	<td style="width:250px">
		<span style="font-size:16px"><span style="font-family:times new roman,times,serif"><span style="color:#1f497d"><strong>{{BLACK_DOMAIN}}</strong></span></span></span><br />
	</td>
	<td style="width:200px">
		<span style="font-size:16px"><span style="font-family:times new roman,times,serif"><span style="color:#1f497d"><strong>{{STATUS}}</strong></span></span></span><br />
	</td>
	<td style="width:100px"><a href="https://dns.cmim.ru/?id={{ATTACK_ID}}" target="_blank">Подробнее</a></td>
</tr>
