<html>
<head>
	<title></title>
</head>
<body>
	<p><span style="font-size:16px"><span style="font-family:times new roman,times,serif"><span style="color:#1f497d">[IP-адреса] Произошли следующие изменения:</span></span></span></p>
	<table border="1" style="width:800px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;">
		<tbody>
			<tr>
				<td style="width:450px">
					<span style="font-size:16px"><span style="font-family:times new roman,times,serif"><span style="color:#1f497d"><strong>Атака</strong></span></span></span><br />
				</td>
				<td style="width:150px">
					<span style="font-size:16px"><span style="font-family:times new roman,times,serif"><span style="color:#1f497d"><strong>IP-адрес</strong></span></span></span><br />
				</td>
				<td style="width:200px">
					<span style="font-size:16px"><span style="font-family:times new roman,times,serif"><span style="color:#1f497d"><strong>Изменения</strong></span></span></span><br />
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>
