<html>
<head>
	<title></title>
</head>
<body>
	<p><span style="font-size:16px"><span style="font-family:times new roman,times,serif"><span style="color:#ff0000">Это сообщение с тестового сервера <a href="https://dns-test.cmim.ru/" target="_blank">dns-test.cmim.ru</a></span></span></span></p>
	<p><span style="font-size:16px"><span style="font-family:times new roman,times,serif"><span style="color:#1f497d">[Атаки] Произошли следующие изменения:</span></span></span></p>
	<table border="1" style="width:800px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;">
		<tbody>
			<tr>
				<td style="width:250px">
					<span style="font-size:16px"><span style="font-family:times new roman,times,serif"><span style="color:#1f497d"><strong>Атакуемый домен</strong></span></span></span><br />
				</td>
				<td style="width:250px">
					<span style="font-size:16px"><span style="font-family:times new roman,times,serif"><span style="color:#1f497d"><strong>Атакующий домен</strong></span></span></span><br />
				</td>
				<td style="width:200px">
					<span style="font-size:16px"><span style="font-family:times new roman,times,serif"><span style="color:#1f497d"><strong>Изменения</strong></span></span></span><br />
				</td>
				<td style="width:100px"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>